PORT=5000
NODE_ENV=development
JWT_SECRET=foodshare_super_secret_key

# Set USE_AWS to true to enable DynamoDB & S3 integration
USE_AWS=true

# AWS Configurations (required if USE_AWS=true)
AWS_REGION=ap-south-1
AWS_PROFILE=default # Set this to your local AWS CLI profile name (e.g., default, corporate, development)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
USERS_TABLE=Users
DONATIONS_TABLE=Donations
S3_BUCKET_NAME=foodshare-donations-mystrio-mumbai
